.formulario {
  max-width: 800px;      
  width: 100%;             
  margin: 0 auto;
}

.formulario input,
.formulario textarea {   
  height: 38px;      
  padding: 6px 10px;      
  margin-bottom: 1.5rem;  
  border: 1px solid #D1D1D1; 
  border-radius: 4px;  
  box-sizing: border-box;
  line-height: 1.15; 
}

.formulario label {      
  display: block;
  margin-bottom: .5rem;
  font-weight: bold;
}

.button {                 
  width: 100%;           
  padding: 1%;       
  font-size: 70%;        
}